:root {
  --main-color: #64748b;
  --secondary-color: #cbd5e1;
  --third-color: #475569;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  background-color: var(--main-color);
}

.container {
  height: 100vh;
  width: auto;
  display: grid;
}

.header {
  text-align: center;
  background-color: var(--secondary-color);
}

.library {
  display: flex;
  justify-content: center;
}

.header h1 {
  text-align: center;
}

.book-card {
  background-color: white;
  border: 1px solid black;
  height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
}

.book-title {
  text-align: center;
}

.book-author,
.book-release-year,
.book-page-count,
.book-read-status {
  font-size: 0.8rem;
}

.delete-book-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  margin-top: auto;
  align-self: flex-end;
}

#new-book-form-dialog {
  margin: auto;
  width: fit-content;
  background-color: var(--secondary-color);
}

.new-book-form {
  font-size: 1.5rem;
  display: grid;
  gap: 20px;
  padding: 3em;
}

.close-dialog {
  cursor: pointer;
  padding: 10px;
}
